<% layout('partials/layout') -%>

<form method="post" action="/register" class="session-form">
  <input type="hidden" name="_csrf" value=<%- csrfToken %> />
  <p>
    <input type="text" name="fname" id="fname" placeholder="first name"/>
  </p>

  <p>
    <input type="text" name="lname" id="lname" placeholder="last name"/>
  </p>

  <p>
    <input type="email" name="email" id="email" placeholder="you@me.we"/>
  </p>

  <p>
    <input type="password" name="password" id="password" placeholder="password" />
  </p>

  <p>
    <input type="password" name="conf_password" id="conf_password" placeholder="confirm password" />
  </p>

  <p>
    <button type="submit">Submit</button>
  </p>

  <p>
    Already have an account? <a href="/login">login</a>
  </p>

</form>
